.avatar {
  width: 72px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
  border: white 2px solid;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
  border: white 2px solid;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 4px 4px 5px rgba(0,0,0,0.3);
  border: white 2px solid;
}
.avatar-square {
  width: 40px;
  // border-radius: 0px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
  border: white 2px solid;
}

.greeting {
  margin-top: 18px;
  margin-right: 10px;
  font-size: 20px;
}

.search-font {
  font-size: 20px;
  border-radius: 10px;
}

#avatar-role {
  font-size: 20px;
  color: #3A98B9;
  margin-left: 0px;
}

#dropdown-right {
 margin-left: 100px;
}
