
#view-request-btn {
  justify-content: center;
  width: auto;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
}

#transit-delivery-btn {
  width: auto;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
}

#stock-alert-btn{
  width: auto;
  color: whitesmoke;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
}

#total-cost-btn {
  width: auto;
  color: btn-primary;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  color: white;
}
