// ****** Font Attributes ******
.tab-font {
  font-size: 20px;
  font-weight: 400;
}

.font-size2 {
  font-size: 18px;
}

.font-size3 {
  font-size: 20px;
}

.font-size3 {
  font-size: 21px;
}

.font-size4 {
  font-size: 22px;
}

.font-size5 {
  font-size: 24px;
}

.font-size6 {
  font-size: 28px;
}

.font-bold {
  font-weight: bold;
}


// ****** Background Attributes ******
.background-gray {
  background-color: #3A98B9;
  color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}


// ****** Line Attributes ******
.line-top-margin1 {
  margin-top: 2px;
}

.line-top-margin2 {
  margin-top: 10px;
}

.line-top-margin3 {
  margin-top: 20px;
}

.line-top-margin4 {
  margin-top: 30px;
}

.line-top-margin5 {
  margin-top: 40px;
}

.line-bottom-margin1 {
  margin-bottom: 2px;
}

.line-bottom-margin2 {
  margin-bottom: 10px;
}

.line-bottom-margin3 {
  margin-bottom: 20px;
}


// ****** Paragraph Attributes ******
// .text-center {
//   place-text: center;
// }

.form-select {
  margin: 0px 0px 25px 10px;
}
