.mapboxgl-popup {
  max-width: 160px;
}

.mapboxgl-popup-content {
  text-align: center; 
  font-family: "Open Sans", sans-serif;
}

.robo-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border-color: darkgray;
  border: 2px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

#map {
  border-radius: 20px;
  margin: 10px;
}

.badge {
  background-color: #3A98B9;
  // background-color: rgba(0,0,128,0.6);
  font: white !important;
}
