.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.robo-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-color: white;
  border: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#map {
  border-radius: 20px;
}
