.navbar {
  margin-bottom: 5px;
}

.navbar-logo {
  justify-content: space-between;
  // background: transparent;
  background: #eadecb;
  border-bottom: 1px solid white ;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.navbar-logo .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo .navbar-brand img {
  width: 130px;
  border: 4px;
  margin-left: 40px;
  background-color: #ffd900;
  border-color: white;
  border-radius: 10%;
  border-style: solid;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}

.avatar-menu {
  margin-right:40px;
  margin-top: 10px;
}

.nav-header {
  // background-color: #eadecb;
  // border-bottom: 1px solid white ;
  font-size: 25px;
  color: black;
  // font-weight: bold;
  // box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.dropdown-item {
  font-size: 22px;
}

.dropdown-menu {
  font-size: 22px;
  color: black !important;
  padding-left: 15px;
}

.nav-link {
  color: black !important;
}
