.moving-truck {
  // background-color: $primary; /* Blue truck for example */
  font-size: 1.8em;
  color: black;
  position: absolute;
  top: 12%; /* Initial vertical position */
  // left: -50px; /* Initial horizontal position (off-screen) */
  left: 1000px;
  background-size: cover; /* Adjust the image size as needed */
  animation-name: speed;
  animation-duration: 3s; /* Animation duration in seconds */
  animation-timing-function: linear; /* Linear timing for constant speed */
  // animation-iteration-count: infinite; /* Loop the animation infinitely */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes speed {
  0% {
      left: 58%; /* Starting position */
  }
  100% {
      left: 105%; /* Ending position (move off-screen to the right) */
  }
}
