<p style="color: green"><%= notice %></p>

<h1>Sites</h1>

<div data-controller="map"
  id='map'
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  data-map-markers-value="<%= @markers.to_json %>"
  style='width: 100%; height: 800px;'>
</div>
