<div class="container">
  <h1>All Locations</h1>
  <ul>
    <% @locations.each do |location| %>
      <li><%= location.name %>    <%= link_to "See Details", location_path(location)%></li>
    <% end %>
  </ul>
</div>


