<div class="container">
<p><strong>Location Name: </strong><%= @location.name %></p>
<p><strong>Location Address: </strong><%= @location.address %></p>
<p><strong>Assigned Engineer/s: </strong>
<span>
    <% @location.users.each do |user| %>
      <%= user.name %>
    <% end %>
    </span>
  </ul>
  </p>
</div>
