<!-- show.html.erb -->
<p>Location Name: <%= @location.name %></p>
<p>Location Address: <%= @location.address %></p>
<p>Assigned Engineer/s: </p>
<ul>
    <% @location.users.each do |user| %>
      <li><%= user.name %></li>
    <% end %>
  </ul>
